:root {
  --color-black-primary: #333333;
  --color-white-primary: #FFFFFF;
  --color-hero:#E9E9E9;
  --color-brand: #28A745;
  --color-background: #E9E9E9;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 1.625;
  color: var(--color-black-primary);
  overflow: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 320px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}

.logo {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  font-size: 32px;
  line-height: 1.3125;
  color: var(--color-brand);
  fill: var(--color-brand);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 35px;
    line-height: 1.21;
  }
}
.logo__text {
  color: var(--color-white-primary);
}

.site-header {
  color: var(--color-white-primary);
  background-color: var(--color-black-primary);
}
.site-header__container {
  padding: 27px;
  padding-bottom: 95px;
  background-image: url(../images/hero/hero-mobile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .site-header__container {
    padding: 17px 40px;
    height: 1024px;
    background-image: url(../images/hero/hero-table.jpg);
  }
}
@media screen and (min-width: 1360px) {
  .site-header__container {
    background-image: url(../images/hero/hero-desktop.jpg);
    height: 768px;
  }
}

.site-nav {
  margin-bottom: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 350px;
  }
}
@media screen and (min-width: 1360px) {
  .site-nav {
    margin-bottom: 230px;
  }
}
.site-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 14px;
}
@media screen and (min-width: 768px) {
  .site-nav__list {
    gap: 18px;
  }
}
@media screen and (min-width: 1360px) {
  .site-nav__list {
    gap: 37px;
  }
}
.site-nav__link {
  text-decoration: none;
  color: inherit;
  position: relative;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 18px;
    line-height: 1.56;
  }
}
.site-nav__link::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-brand);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--color-brand);
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hero {
  color: var(--color-hero);
  text-align: center;
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.3;
}
@media screen and (max-width: 767px) {
  .hero__title {
    max-width: 241px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 55px;
    line-height: 1.2;
  }
}
.hero__text {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 1.6818;
}
@media screen and (max-width: 767px) {
  .hero__text {
    max-width: 246px;
  }
}
.hero__link {
  text-decoration: none;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  padding: 9px 30px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.625;
  color: var(--color-white-primary);
  fill: var(--color-white-primary);
  background-color: var(--color-brand);
}

.section {
  padding-bottom: 30px;
}
.section--fist {
  padding-top: 30px;
}

.benefits__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 50px;
  }
}
.benefits__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-bottom: 11px;
  width: 64px;
  height: 64px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--color-brand);
  fill: var(--color-white-primary);
  -webkit-transition: background-color 250ms, fill 250ms, border-color 250ms;
  transition: background-color 250ms, fill 250ms, border-color 250ms;
}
.benefits__icon-box:hover, .benefits__icon-box:focus {
  border-color: var(--color-brand);
  fill: var(--color-brand);
  background-color: var(--color-white-primary);
}
.benefits__title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.66;
}/*# sourceMappingURL=main.css.map */