.section {
  padding-bottom: 30px;

  &--fist {
    padding-top: 30px;
  }
}

.section__tagline {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.66;
}

.section__title {
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.section__text {
  margin-bottom: 15px;
}
